<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Management</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/file_upload_download.css">
    <link rel="stylesheet" href="../assets/css/file_download_popup.css">
    
</head>
<body>
    <!-- Navbar -->
    <div id="navbar-container"></div>


    <h2>File Upload / Download</h2>

    <!-- Table wrapper to control the border and rounded corners -->
    <div class="table-wrapper">
        <table class="freeze-header">
            <thead>
                <tr>
                    <th>Files</th>
                    <th>Agent Type</th>
                    <th>Upload/Export</th>
                </tr>
            </thead>
            <tbody>
                <tr class="file-row" data-process="Requirements Form">
                    <td>Scoping Form</td>
                    <td>Sales</td>
                    <td><button class="button" id="req-download">Download File</button></td>
                </tr>
                
                <tr class="file-row" data-process="SOW">
                    <td>SOW</td>
                    <td>Sales</td>
                    <td><button class="button" id="sow-upload">Download File</button></td>
                </tr>
            </tbody>
        </table>
    </div>
        </div>
    </div>

    <!-- Back Button aligned to the right -->
    <button id="back-button" class = "back-button">Back</button>

    <!-- Load jsPDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <!-- Load jsPDF AutoTable Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.23/jspdf.plugin.autotable.min.js"></script>
    <script src="../assets/js/file_upload_download.js"></script> <!-- Link to the external JavaScript file -->
    <script src="../assets/js/table.js"></script>
    <script src="../assets/js/script.js"></script>
      
    
</body>
</html>
