<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Presale-dashboard.css">
</head>
<body>

    <h1>Welcome!</h1>
    
    <div class="button-container">
        <button class="button projects-button">
            <img src="../assets/images/proj-icon.png" alt="Projects">
            Projects
            
        </button>
        <button class="button visualisation-button">
            <img src="../assets/images/vizualise-icon.png" alt="Visualisation">
            Visualisation
             
        </button>
        <button class="button logs-button">
            <img src="../assets/images/logs-icon.png" alt="Logs">
            Logs
            
        </button>
    </div>

</body>
</html>
