<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/visualization.css">
    <title>HomePage</title>
</head>
<body>

    <h1>Visualisation</h1>
    
    <div class="button-container">
        <button class="button">
            <img src="../assets/images/presale-icon.png" alt="Projects">
            Pre-Sale
        </button>
        <button class="button">
            <img src="../assets/images/log-icon.png" alt="Projects">
            Logs
        </button>
        <button class="button">
            <img src="../assets/images/requirement-icon.png" alt="Projects">
            Requirement Analysis
        </button>
        <button class="button">
            <img src="../assets/images/scope-icon.png" alt="Projects">
            Scope Impact
        </button>
    </div>

</body>
</html>
