<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Options</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/visualization.css"
</head>
<body>
    <div class="nav-bar">Dashboard Options</div>
    
    <div class="dashboard-container">
        <div class="dashboard-options">
            <a href="Presale-dashboard.html" class="option-button">Pre-sale</a>
            <button class="option-button">Logs</button>
            <button class="option-button">Requirement Analysis</button>
            <button class="option-button">Scope Impact</button>
        </div>
        
        <a href="../index.html" class="back-button">Back</a>
    </div>
</body>
</html>