body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 2vw;
}
h1 {
  margin-bottom: 2vw;
  margin-left: 2vw;
  text-align: left; /* Align the title to the left */
}
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  width: 100%;
}
.button {
  width: 32%; /* Adjust the width to have 3 buttons side by side */
  height: 33vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the left */
  background-color: white; /* Set button background to white */
  color: rgb(56, 56, 56); /* Set text color to black */
  font-size: 1.8vw;
  font-weight: bold; /* Make the text bold */
  border-radius: 10px;
  border: 1px solid #d2d2d2; /* Border color */
  cursor: pointer;
  padding-left: 2vw; /* Add left padding to align text better */
  padding-top: 3vw;
  box-sizing: border-box;
  padding-bottom: 1vw;
}
.button img {
  width: 3.3vw; /* Set icon size */
  height: 3.3vw;
  margin-bottom: 1.2vw;
}
.button:hover {
  background-color: #f1f1f1; /* Light gray on hover */
}

/* Custom button colors */
.projects-button {
  background-color: white; /* White background */
  border-right: none; /* Remove right border */
  border-bottom: 5px solid #3575ff; /* Green bottom line */
}

.visualisation-button {
  background-color: white; /* White background */
  border-right: none; /* Remove right border */
  border-bottom: 5px solid #4d93f4; /* Blue bottom line */
}

.logs-button {
  background-color: white; /* White background */
  border-right: none; /* Remove right border */
  border-bottom: 5px solid #FF9800; /* Orange bottom line */
}

