body {
    font-family: Arial, sans-serif;
    padding: 2vw;
    margin-left: 1vw;
}

h1 {
    font-size: 3vw;
}
h2 {
    font-size: 2.3vw;
}

p {
    font-size: 1.6vw;
}

.row-1 {
    padding-top: 8vh !important;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1vw;
    height: 42vh;
}

.row-2 {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 1vw;
    height: 42vh;
    padding-top: 1vw;
}

.section {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.project-details {
    margin-left: 4vw;
}

/* Action Section */
.action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.action-buttons button {
    font-weight: bold; /* Make text bold */
    font-size: 1.9vw;
    height: 100%; /* Ensure button fills the container */
    border: none; /* Remove border */
    background-color: #ffffff; /* Add a background color */
    color: rgb(0, 0, 0);
    padding: 15px; /* Adjust padding as needed */
    cursor: pointer;
}
.action-buttons button:not(:last-child) {
    border-bottom: 2px solid #5a5a5a; /* Add a light gray line between buttons */
}

.action-buttons button:hover {
    background-color: #f0f0f0; /* Light gray background on hover */

}