body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 3vw;
}

h1 {
    margin-bottom: 2vw;
    margin-left: 2vw;
    text-align: left;
    margin-top: 8vh;
}

/* Use Grid Layout for 2 rows and 3 columns */
.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(2, 1fr); /* 2 equal rows */
    gap: 3vw; /* Add spacing between buttons */
    width: 100%;
    margin: auto; /* Center the container */
}

.button {
    height: 20vh; /* Reduce height for better spacing */
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    align-items: center; /* Vertically align items */
    background-color: white;
    color: rgb(82, 81, 81);
    font-size: 1.8vw;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #d2d2d2;
    cursor: pointer;
    padding-left: 2vw;
    padding-top: 2vw;
    box-sizing: border-box;
    padding-bottom: 1vw;
    border-bottom: 5px solid #4d93f4;
    justify-content: flex-start; /* Align content to the left */
}

.button img {
    width: 3vw;
    margin-right: 1vw; /* Add space between image and text */
}

.button:hover {
    background-color: #f1f1f1;
}

/* Navbar styling */
/* Navbar styling */
.navbar {
    background-color: #ffffff;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex; /* Use flexbox for alignment */
    justify-content: flex-start; /* Align items to the left */
    align-items: center; /* Vertically center the button */
    border-bottom: 2px solid #d2d2d2;
}

/* Back button styling */
.back-button {
    background: none;
    border: none;
    color: rgb(151, 151, 151);
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
}

.back-button:hover {
    color: rgb(223, 221, 221);
}





